/* 

 ul {
    display: flex;
    justify-content: center;
    justify-content: space-around; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: rgb(107, 23, 23);
}

li {
    float: left; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 12%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: black;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

li a:hover {
    background-color: #111;
} 

li a:hover {
    background-color: #111;
}   */

/**************** Nav *****************/
.menuHamburger {
    background-color: rgb(156, 182, 156);
    position: absolute;
    width: 50vw;
    z-index: 1000;
    outline: 2px solid black;
    display: none;
    padding-bottom: 2vh;

}

.block {
    display: sticky ;
    
}

.menuItem, .childMenuItem {
    background-color: var(--color);
    border: 1px solid black;
    padding: 0.5em;
}
.childMenuItem {
    background-color: var(--color);
    margin-left: 0.5vw;
}

.noDisplay {
    display: none;
}

.borderRadiusTop {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.borderRadiusBottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media screen and (max-width: 800px)
{
    .menuHamburger {
        width: 50vw;
    }
}

@media screen and (max-width: 600px)
{
    #fermetureMenuText {
        display: none;
    }
}

.test {
    background-color: rgba(248, 239, 239, 0.568);
 color: white;
 padding:0.5vh; 
   
}
.test img {
    height:7vh; 
    width:7vw; 
    flex: 0.5;
   
}

.espaceMenu{
flex : 0.5 ; 
}
.textMenu{
    flex: 2;
}

.espacePetit{
    flex: 0.2;
}

