html,body{
	margin: 0;
	padding: 0;
}
body, header,div, nav, main, section{
    display: flex;
	flex: 1;
	justify-content: center;
}	
body{
     
	background-size: cover;
	flex-direction: column;

}

/* img {
	width: 100%;
} */
.haut{
	display:flex; 
	
}
.hautPartie0 img {

	height: 5vh; 
	width: 5vw; 
}
.hautPartie0{
	display:flex;
	flex-direction: column;
	align-items : center;
	flex: 0.5;
}
.textemulticolore {
	background-image: linear-gradient(to left, rgb(233, 122, 233), indigo, blue, green, yellow, orange, red);  
	-webkit-background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text; 
	background-clip: text;
	color: transparent;
	}

	
.Flex1{
	flex: 1; 
}



.hautPartie2{
	flex: 4; 
	font-family: 'Pacifico', cursive;
	font-size: 5em;
align-items: center;
}

.hautPartie3{
	flex: 1; 
}

.titreListe { 

	font-size: 2em; 
}
.logoAnimalerie{
	align-self: center;
	height: 50%;
	width: 50%;
}
.colonne{
    flex-direction: column;
}
.demi{
	flex:0.5;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.texteColore{
	align-items: center;
	color: rgb(255, 255, 255);
	font-size: 1.2em; 
}
.titre {
	flex: 5;
	color: rgba(47, 196, 34, 0.911);
	background-color:white; 
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

.espaceHorizon {
	height: 2vw;
}

.page{
	background-color: rgb(146, 98, 10);
	width: 80%;
	flex: none;
	align-self: center;
	padding-bottom: 5vh;

}

.espaceH {
	margin: 1.5em;
}

.font-family{
	background: linear-gradient( #6f836b,#dbd7d7,#dbd7d7,#dbd7d7, #286b1c);
	font-family: "Helvetica Neue",Helvetica,Arial;
}

.font-family:hover {
	background: rgb(224, 219, 208);

  }

.demiPage
{
	border-radius: 40% 30% / 15% 20%;
	width: 50vw;
	align-self: center;
	background: linear-gradient( #286b1c,#dbd7d7,#dbd7d7,#dbd7d7, #286b1c);


	padding: 5em;
}


.crudColonne {
	padding: 0.5vw 1vw;
	border: black solid 0.5px;
	background: linear-gradient( #286b1c,#dbd7d7,#dbd7d7,#dbd7d7, #286b1c);
	color: rgb(1, 22, 1);
}


.crudBtn {
	font-family: Arial, sans-serif;
	font-size: 1em;
	text-align: center;
	color: #000;
	border-radius: 12px 0 12px 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.4);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	margin: 0.5vw;
	padding: 0.5vw;
	
}

.crudBtnOutil {
	background: linear-gradient(#32db7b, #32db7b);
	margin: 1vw;
}

.crudBtnSupprimer {
	background: linear-gradient(#d4b7b3, #ff9789);
}

.crudBtnModifier {
	background: linear-gradient(#e9d4b9, #ffcb89);
}

.crudBtnEditer,.crudBtnAjouter {
	background: linear-gradient(#93c5a0, #7fffd4);
}

.crudBtnRetour {
	background: linear-gradient(rgba(255, 253, 251, 0.425), rgb(250, 248, 248));


}

.crudBtn:hover {
	color: #FFF;
	box-shadow: none;
}

.crudBtn:active {
	color: #FFF;
	box-shadow: none;
}
footer{
	height: 50vh;
}
form{
	display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(1em, auto);
}

#crudTableau2{
	display: grid;
    grid-template-columns: 3fr 0.5fr 1fr 1fr 1fr ;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(1.5em, auto);
}

#crudTableau{
	display: grid;
    grid-template-columns: 3fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(1.5em, auto);
}
#crudTableau10Col{
	display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(1.5em, auto);
}

#crudTableauAnimaux{
	display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 0.5fr 1fr 1fr 1fr ;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(1.5em, auto);
}

.erreur{
	font-size: 1.2em;
	font-weight: 900;
	color: red;
}
.blue{
	border:1px solid blue;
}
.green{
	border:1px solid green;
}
.logo{
	width:15vw;
	height:15vh;
}

footer {
	padding-top: 1em; 
	text-align : center;
	color: white; 
	
}


/*  permet de faire une transition entre plusieurs couleur ou image ou son ou ... */ 

  body {
	-webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
	animation: background 5s cubic-bezier(1,0,0,1) infinite;  
  }
  
  
  @-webkit-keyframes background {
	0% { background-color: rgb(189, 194, 163); }
	50% { background-color: rgb(163, 194, 163); }  
	75% { background-color: rgb(194, 177, 163); }
	100% { background-color: rgb(194, 167, 163); } 

  }
  
  @keyframes background {
	0% { background-color: rgb(163, 194, 189); }
	50% { background-color: rgb(163, 185, 194); }  
	75% { background-color: rgb(165, 163, 194); }
	100% { background-color: rgb(183, 163, 194); } 
  }  